.page {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: 75px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 60%;
}

.add_group {
  margin-top: 50px;
}
