.create__btn {
  position: absolute;
  top: 2.5%;
}

label {
  font-size: 1.5rem;
}

.create__container {
  width: 90%;
  position: absolute;
  left: 5%;
  z-index: 1000;
  margin: 0 auto 40px auto;
  box-shadow: 0px 0px 1px 2px #ccc;
  border-radius: 2px;
  padding: 15px;
  background-color: #f5f2e9;
}

.create__title input {
  display: block;
  line-height: 1.5rem;
  font-size: 1.2rem;
  width: 50%;
}

.create__message textarea {
  display: block;
  height: 12rem;
  font-size: 1.2rem;
  width: 99.5%;
  resize: none;
}

.create__message {
  margin-top: 10px;
}

.submit__btn {
  margin-top: 10px;
}

.create__btn, .submit__btn {
  padding: 6px;
  text-decoration: none;
  font-size: 1.2rem;
}

.create__btn:focus, .submit__btn:focus {
  outline: none;
  box-shadow: none;
}
