.invite__container {
  top: 3.8%;
  position: absolute;
  font-size: 1.2rem;
  z-index: 100000;
}

.invite__button {
  padding: 6px;
  font-size: 1.2rem;
  text-decoration: none;
  position: absolute;
  width: 120px;
}

.invite__dropdown {
  position: absolute;
  background-color: white;
  display: flex;
  top: 5.7vh;
}

.invite__dropdown input, .invite__dropdown button {
  font-size: 1.3rem;
}

.invite__result {
  display: inline-block;
  position: absolute;
  z-index: 1000;
  font-size: 1.5rem;
  width: fit-content;
  left: 7vw;
  bottom: 2vh;
}
