/* @import-normalize; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body, html {
  background-color: rgb(235,232,211) !important;
  height: 100%;
}

body, input, button, textarea, span {
  font-family: 'Roboto', 'sans-serif' !important;
}

i {
  color: #095E71 !important;
}

i:hover {
  color: #052F39 !important;
}
