.nav__bar {
  width: 100%;
  display: grid;
  height: 40px;
  position: relative;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    "home title profile";
}

.nav__profile {
  grid-area: profile;
  justify-self: right;
  margin-right: 20px;
}

.nav__profile:hover i {
  color: green;
}

.nav__profile > button {
  font-size: 2.0rem;
  border: none;
  color: gray;
}

.nav__profile > button:focus, .invite__btn {
  outline: none;
  box-shadow: none;
}

.profile__dropdown {
  box-shadow: 0px 0px 1px 2px #ccc;
  border-radius: 3px;
  list-style-type: none;
  position: absolute;
  right: 2vw;
  top: 5vh;
  padding: 5px;
  text-align: center;
  z-index: 1;
  background-color: #f2f5e9;
}

.profile__dropdown li, .profile__dropdown button {
  font-size: 1.3rem;
}

.profile__dropdown li {
  margin-top: 5px;
}

.profile__dropdown button {
  border-radius: 3px;
  background-color: #f2f5e9;
}

.profile__btn, .group__create, .invite__btn {
  background-color: #ebe8d3;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
}

.title:hover {
  cursor: pointer;
}

.invite__div {
  grid-area: home;
  margin-left: 140px;
}

.invite__btn {
  border: none;
  font-size: 2.4rem;
  position: relative;
}

.invite__count {
  position: absolute;
  color: #ff9966;
  left: 50%;
  transform: translateX(-50%);
  top: 28%;
  font-size: 1rem;
}

.home__div {
  grid-area: home;
  margin-top: 3.5px;
}

.home__div:hover i {
  color: green;
}

.home__icon {
  font-size: 2.0rem;
  text-decoration: none;
  margin-left: 20px;
}

.group__create {
  border: none;
  text-decoration: none;
  position: relative;
  top: 0;
  color: gray;
  font-size: 2.3rem;
}

.group__create:hover i {
  color: green;
}

.group__create:focus {
  outline: none;
  box-shadow: none;
}

.create-group__container {
  position: absolute;
  z-index: 100;
  margin-top: 5px;
  margin-left: 8px;
}

.create-group__container input {
  font-size: 1.3rem;
  width: 300px;
}

.create-group__container button {
  margin-top: 5px;
  font-size: 1.2rem;
}

.group-create__wrapper {
  grid-area: home;
  margin-left: 80px;
  position: relative;
}

.sign-in__btn {
  grid-area: profile;
  width: fit-content;
  border: none;
  display: inline-block;
  margin-left: 40px;
  font-size: 1.3rem;
}

.sign-up__link {
  grid-area: profile;
  font-size: 2rem;
  justify-self: right;
  margin-right: 90px;
  margin-top: 3px;
}

.sign-up__link:hover i {
  color: green;
}

.sign-up__link:visited {
  color: black;
}

.inv__list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin: 0;
}

.inv__div {
  position: absolute;
  width: 300px;
  z-index: 10;
  background-color: #f5ece9;
  margin-top: -6px;
  margin-left: 10px;
  box-shadow: 0px 0px 1px 2px #ccc;
  border-radius: 2px
}

.invite__btn:hover i {
  color: green;
}

.inv__list li {
  padding: 5px 0 5px 5px;
  font-size: 1.2rem;
}

.inv__list li:hover, .inv__list li:hover .inv-btn__container button {
  background-color: #f2f5e9;
}

.inv-btn__container {
  float: right;
}

.inv-btn__container button {
  border: none;
  margin-right: 5px;
  background-color: #f5ece9;
}

.inv-btn__container button:focus {
  outline: none;
  box-shadow: none;
}

.inv__accept:hover {
  color: green;
}

.inv__decline:hover {
  color: red;
}
