.group__container {
  position: relative;
  margin-bottom: 50px;
  width: 40%;
  box-shadow: 0px 0px 1px 2px #ccc;
  border-radius: 5px;
  padding: 10px 10px 50px 10px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.delete {
  font-size: 1.1rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}
