.board_container {
  width: 50%;
  margin: -150px auto 20px auto;
  position: relative;
  z-index: 100;
  box-shadow: 0px 0px 1px 2px #ccc;
  padding: 20px 40px 50px 40px;
  border-radius: 2px;
  background-color: white;
}

.board_title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
